/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	color: rgb(77, 85, 91);
	font-weight: 400;
	font-family: Quicksand;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding: 30px;
}

h2 {
	padding-bottom: 20px;
}

.navbar-inverse {
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-nav li a {
	color: rgb(14, 172, 189);
}

.navbar-inverse .navbar-nav li a:hover {
	color: lightgray;
}

.btn-default, .btn-default:hover, .btn-default:focus {
	background-color: rgb(14, 172, 189);
	border-color: rgb(14, 172, 189);
	padding: 8px 30px;
	width: 120px;
	color: white;
}

.btn-default:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,121,33,.6);
}
