@using Bookstore.Entities
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Date</th>
	</tr>
	@foreach (var doc in Model) {
		IDictionary<string, string> parms = new Dictionary<string, string> {
			{ "id", doc.Id }
		};
		<tr>
			<td><a asp-action="Show" asp-all-route-data="@parms">@doc.Id</a></td>
			<td>@doc.Date.ToString("dd/MM/yyyy")</td>		
		</tr>
	}
</table>
