@model Document

<html>
<head>
	<style>
		body {
			font-family: "Arial";
			font-size: 14px;
		}
		.car-name {
			color: darkgray;
		}
		.car-max-speed {
			color: tomato;
		}
		.car-registration {
			color: brown;
		}
	</style>
</head>
<body>	
	<div>
		<span>Title:</span>
		<span class="car-name">@Model.Title</span>
	</div>
	<div>
		<span>Sender:</span>
		<span class="car-registration">@Model.Sender</span>
	</div>
	<div>
		<span>Receiver:</span>
		<span class="car-max-speed">@Model.Receiver</span>
	</div>
	<div>
		<span>Timestamp:</span>
		<span>@Model.Timestamp</span>
	</div>	
</body>
</html>