@using Bookstore.Entities
@model IEnumerable<Customer>

@{
	ViewData["Title"] = "Customers";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Name</th>
	</tr>
	@foreach (var customer in Model) {
		IDictionary<string, string> parms = new Dictionary<string, string> {
			{ "id", customer.Id }
		};
		<tr>
			<td><a asp-action="Detail" asp-all-route-data="@parms">@customer.Id</a></td>
			<td>@customer.Name</td>
		</tr>
	}
</table>
