<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="info"
	  internalLogToConsole="true"
	  throwExceptions="true">

	<targets>

    <target xsi:type="Null" name="hole" formatMessage="false"  />
    
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${logger} [${level:uppercase=true}] : ${message} ${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:separator=\n:innerExceptionSeparator=\n\n:maxInnerExceptionLevel=10	}" >
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
		</target>

	</targets>
  
	<rules>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="hole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>

</nlog>